In [2]:
# %pip install pydantic

In [2]:
import pandas as pd

In [3]:
train_sequences = pd.read_csv("data/train_sequences.csv")
train_sequences

,target_id,sequence,temporal_cutoff,description,all_sequences
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA..."
...,...,...,...,...,...
839,8T3E_EC,AAACUCCAUGUAUUGGUUACCCAUCUGCAUCGAAAACUCUCCGAAC...,2024-12-11,Hypomethylated yeast 80S bound with Taura synd...,>8T3E_1|Chain A[auth BA]|40S ribosomal protein...
840,8T3F_EC,AAACUCCAUGUAUUGGUUACCCAUCUGCAUCGAAAACUCUCCGAAC...,2024-12-11,Hypomethylated yeast 80S bound with Taura synd...,>8T3F_1|Chain A[auth BA]|40S ribosomal protein...
841,8XCC_B,GUGCUGCUGUCUCCCAGACGGGAGGCAGAACUGCACCUUCCAUCAG...,2024-12-11,"Cryo-EM structure of Cas12j19 (E100K), crRNA a...",>8XCC_1|Chain A|Cas12j19(E100K)|unclassified s...
842,8Z1G_T,GGUAAAAUGGCUGAGUGAAGCAUUGGACUGUAAAUCUAAAGACAGG...,2024-12-18,Cryo-EM structure of human ELAC2-pre-tRNA,>8Z1G_1|Chain A[auth T]|Homo sapiens mitochond...
843,8Z1F_T,GGUAAAAUGGCUGAGUGAAGCAUUGGACUGUAAAUCUAAAGACAGG...,2024-12-18,Cryo-EM structure of human ELAC2-tRNA,>8Z1F_1|Chain A[auth T]|Homo sapiens mitochond...

In [ ]:
from tools import grab_strand

train_labels = pd.read_csv("data/train_labels.csv")
strand = grab_strand("1SCL_A",train_labels)
strand

GetPydanticSchema(get_pydantic_core_schema=               ID resname  resid     x_1        y_1     z_1
0        1SCL_A_1       G      1  13.760 -25.974001   0.102
1        1SCL_A_2       G      2   9.310 -29.638000   2.669
2        1SCL_A_3       G      3   5.529 -27.813000   5.878
3        1SCL_A_4       U      4   2.678 -24.900999   9.793
4        1SCL_A_5       G      5   1.827 -20.136000  11.793
...           ...     ...    ...     ...        ...     ...
137090  8Z1F_T_82       U     82     NaN        NaN     NaN
137091  8Z1F_T_83       C     83     NaN        NaN     NaN
137092  8Z1F_T_84       A     84     NaN        NaN     NaN
137093  8Z1F_T_85       U     85     NaN        NaN     NaN
137094  8Z1F_T_86       A     86     NaN        NaN     NaN

[137095 rows x 6 columns], get_pydantic_json_schema=None)

In [ ]:
strand.head()

         ID resname  resid     x_1        y_1     z_1
0  1SCL_A_1       G      1  13.760 -25.974001   0.102
1  1SCL_A_2       G      2   9.310 -29.638000   2.669
2  1SCL_A_3       G      3   5.529 -27.813000   5.878
3  1SCL_A_4       U      4   2.678 -24.900999   9.793
4  1SCL_A_5       G      5   1.827 -20.136000  11.793