In [3]:
# %pip install pandas

In [ ]:
import pandas as pd

In [ ]:
train_sequences = pd.read_csv("data/train_sequences.csv")
train_sequences

,target_id,sequence,temporal_cutoff,description,all_sequences
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA..."
...,...,...,...,...,...
839,8T3E_EC,AAACUCCAUGUAUUGGUUACCCAUCUGCAUCGAAAACUCUCCGAAC...,2024-12-11,Hypomethylated yeast 80S bound with Taura synd...,>8T3E_1|Chain A[auth BA]|40S ribosomal protein...
840,8T3F_EC,AAACUCCAUGUAUUGGUUACCCAUCUGCAUCGAAAACUCUCCGAAC...,2024-12-11,Hypomethylated yeast 80S bound with Taura synd...,>8T3F_1|Chain A[auth BA]|40S ribosomal protein...
841,8XCC_B,GUGCUGCUGUCUCCCAGACGGGAGGCAGAACUGCACCUUCCAUCAG...,2024-12-11,"Cryo-EM structure of Cas12j19 (E100K), crRNA a...",>8XCC_1|Chain A|Cas12j19(E100K)|unclassified s...
842,8Z1G_T,GGUAAAAUGGCUGAGUGAAGCAUUGGACUGUAAAUCUAAAGACAGG...,2024-12-18,Cryo-EM structure of human ELAC2-pre-tRNA,>8Z1G_1|Chain A[auth T]|Homo sapiens mitochond...
843,8Z1F_T,GGUAAAAUGGCUGAGUGAAGCAUUGGACUGUAAAUCUAAAGACAGG...,2024-12-18,Cryo-EM structure of human ELAC2-tRNA,>8Z1F_1|Chain A[auth T]|Homo sapiens mitochond...

In [8]:
train_labels = pd.read_csv("data/train_labels.csv").dropna()
train_labels

               ID resname  resid         x_1         y_1         z_1
0        1SCL_A_1       G      1   13.760000  -25.974001    0.102000
1        1SCL_A_2       G      2    9.310000  -29.638000    2.669000
2        1SCL_A_3       G      3    5.529000  -27.813000    5.878000
3        1SCL_A_4       U      4    2.678000  -24.900999    9.793000
4        1SCL_A_5       G      5    1.827000  -20.136000   11.793000
...           ...     ...    ...         ...         ...         ...
137070  8Z1F_T_62       U     62  112.516998  117.880997  119.245003
137071  8Z1F_T_63       A     63  115.292999  116.571999  114.827003
137072  8Z1F_T_64       C     64  115.857002  114.595001  109.509003
137073  8Z1F_T_65       C     65  113.816002  113.236000  104.339996
137074  8Z1F_T_66       A     66  118.279999  113.883003   98.071999

[130950 rows x 6 columns]