In [2]:
# %pip install pydantic

In [2]:
import pandas as pd

In [3]:
train_sequences = pd.read_csv("data/train_sequences.csv")
train_sequences

,target_id,sequence,temporal_cutoff,description,all_sequences
0,1SCL_A,GGGUGCUCAGUACGAGAGGAACCGCACCC,1995-01-26,"THE SARCIN-RICIN LOOP, A MODULAR RNA",>1SCL_1|Chain A|RNA SARCIN-RICIN LOOP|Rattus n...
1,1RNK_A,GGCGCAGUGGGCUAGCGCCACUCAAAAGGCCCAU,1995-02-27,THE STRUCTURE OF AN RNA PSEUDOKNOT THAT CAUSES...,>1RNK_1|Chain A|RNA PSEUDOKNOT|null\nGGCGCAGUG...
2,1RHT_A,GGGACUGACGAUCACGCAGUCUAU,1995-06-03,24-MER RNA HAIRPIN COAT PROTEIN BINDING SITE F...,>1RHT_1|Chain A|RNA (5'-R(P*GP*GP*GP*AP*CP*UP*...
3,1HLX_A,GGGAUAACUUCGGUUGUCCC,1995-09-15,P1 HELIX NUCLEIC ACIDS (DNA/RNA) RIBONUCLEIC ACID,>1HLX_1|Chain A|RNA (5'-R(*GP*GP*GP*AP*UP*AP*A...
4,1HMH_E,GGCGACCCUGAUGAGGCCGAAAGGCCGAAACCGU,1995-12-07,THREE-DIMENSIONAL STRUCTURE OF A HAMMERHEAD RI...,">1HMH_1|Chains A, C, E|HAMMERHEAD RIBOZYME-RNA..."
...,...,...,...,...,...
839,8T3E_EC,AAACUCCAUGUAUUGGUUACCCAUCUGCAUCGAAAACUCUCCGAAC...,2024-12-11,Hypomethylated yeast 80S bound with Taura synd...,>8T3E_1|Chain A[auth BA]|40S ribosomal protein...
840,8T3F_EC,AAACUCCAUGUAUUGGUUACCCAUCUGCAUCGAAAACUCUCCGAAC...,2024-12-11,Hypomethylated yeast 80S bound with Taura synd...,>8T3F_1|Chain A[auth BA]|40S ribosomal protein...
841,8XCC_B,GUGCUGCUGUCUCCCAGACGGGAGGCAGAACUGCACCUUCCAUCAG...,2024-12-11,"Cryo-EM structure of Cas12j19 (E100K), crRNA a...",>8XCC_1|Chain A|Cas12j19(E100K)|unclassified s...
842,8Z1G_T,GGUAAAAUGGCUGAGUGAAGCAUUGGACUGUAAAUCUAAAGACAGG...,2024-12-18,Cryo-EM structure of human ELAC2-pre-tRNA,>8Z1G_1|Chain A[auth T]|Homo sapiens mitochond...
843,8Z1F_T,GGUAAAAUGGCUGAGUGAAGCAUUGGACUGUAAAUCUAAAGACAGG...,2024-12-18,Cryo-EM structure of human ELAC2-tRNA,>8Z1F_1|Chain A[auth T]|Homo sapiens mitochond...

In [6]:
from pydantic import BaseModel
import pandas as pd

class LabelRow(BaseModel):
    ID: str
    resname: str
    resid: int
    x_1: float
    y_1: float
    z_1: float

train_labels = pd.read_csv("data/train_labels.csv")

def grab_id(search_id: str, df: pd.DataFrame) -> pd.DataFrame:
    """
    Returns rows of df whose 'ID' column contains the given search_id substring.
    
    Args:
        search_id (str): The substring to look for within the 'ID' column.
        df (pd.DataFrame): DataFrame containing an 'ID' column.
        
    Returns:
        pd.DataFrame: A filtered DataFrame containing only rows with IDs that include search_id.
    """
    # Ensure the 'ID' column is treated as a string and filter rows where search_id is a substring.
    filtered_df = df[df['ID'].astype(str).str.contains(search_id)]
    return filtered_df

strand = grab_id("1SCL_A",train_labels)
strand

           ID resname  resid     x_1        y_1     z_1
0    1SCL_A_1       G      1  13.760 -25.974001   0.102
1    1SCL_A_2       G      2   9.310 -29.638000   2.669
2    1SCL_A_3       G      3   5.529 -27.813000   5.878
3    1SCL_A_4       U      4   2.678 -24.900999   9.793
4    1SCL_A_5       G      5   1.827 -20.136000  11.793
5    1SCL_A_6       C      6   2.040 -14.908000  11.771
6    1SCL_A_7       U      7   1.107 -11.513000   7.517
7    1SCL_A_8       C      8   2.991  -6.406000   4.783
8    1SCL_A_9       A      9   0.896  -1.193000   7.608
9   1SCL_A_10       G     10   0.228   2.646000   9.128
10  1SCL_A_11       U     11   4.329   2.718000   4.804
11  1SCL_A_12       A     12   5.165   4.792000  -0.914
12  1SCL_A_13       C     13   2.610   9.495000  -2.308
13  1SCL_A_14       G     14   1.174  13.829000   0.201
14  1SCL_A_15       A     15   1.580  20.115000   3.760
15  1SCL_A_16       G     16  -1.575  16.927999   5.897
16  1SCL_A_17       A     17  -6.051  14.762000   5.224
17  1SCL_A_18       G     18  -5.554  10.415000   4.309
18  1SCL_A_19       G     19  -3.107   6.405000   2.120
19  1SCL_A_20       A     20  -1.410   3.335000  -2.655
20  1SCL_A_21       A     21   1.866  -0.716000  -4.333
21  1SCL_A_22       C     22   3.655  -4.444000  -2.485
22  1SCL_A_23       C     23   5.314  -7.656000   1.130
23  1SCL_A_24       G     24   7.931  -9.528000   5.781
24  1SCL_A_25       C     25   8.735 -12.648000  10.025
25  1SCL_A_26       A     26   9.108 -17.296000  13.021
26  1SCL_A_27       C     27   8.897 -22.606001  14.308
27  1SCL_A_28       C     28   9.673 -28.337999  13.292
28  1SCL_A_29       C     29  12.641 -30.907000   9.645